/* login form */

#login-form-submit {
    width: 100%;
    background: #d9476a;
    color: #fff;
    padding: 10px;
    border: none;
    margin-top: 15px;
}

#login-form h3 {
    margin-left: -10px;
    font-weight: bold;
}

#login-form input {
    border-radius: 0;
    font-size: 12px;
}

#login-form input:focus {
    border-color: #d9476a;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* referrals */


#referrals-content {
    margin-top: 100px;
}

.referrals-content-holder img {
    height: 100px;
    width: 100px;
}

.referrals-box {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.referrals-box p {
    padding-bottom: 0;
    text-align: right;
    font-size: 12px;
    float: right;
    font-weight: bold;
    line-height: 20px;
}

.referrals-box .media-object {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

/* about */

.about-content-holder {
    margin-bottom: 10px;
}

.about-content-holder h3 {
    border-bottom: 3px solid #d9476a;
}

.about-content-holder h1 {
    margin-top: 100px;
}

.crew-member {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.crew article.crew-member {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.crew article.crew-member figure {
    display: table;
    width: 100%;
    height: 100%
}

.crew article.crew-member figure figcaption {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

.crew article.crew-member figure figcaption p {
    padding: 15px 15px 25px;
    color: #fff;
}

.crew article.crew-member figure figcaption a {
    padding: 10px;
}

.crew article.crew-member figure figcaption a.social-links {
    padding: 0 !important;
    line-height: 38px;
}

.crew article.crew-member figure figcaption .crew-socials ul li {
    display: inline-block;
    margin-right: 10px;
}

.crew article.crew-member figure figcaption .crew-socials ul li:last-child {
    margin-right: 0;
}

.crew article.crew-member figure:hover .overlay {
    opacity: 1;
}

.crew article.crew-member h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}

.crew article.crew-member h2:after {
    margin: 10px auto 0;
}

.crew-socials a {
    border: 1px solid;
    border-radius: 100% !important;
    color: #f1f3f3;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}

.crew article.crew-member img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.crew article.crew-member .overlay {
    z-index: 99;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0;
    background-color: rgba(33, 33, 35, 0.8);
}

.crew article.crew-member .overlay.apply {
    background-color: #222222;
    background-image: url(../media/users/servbg.png);
    opacity: 1;
}

.btn.secondary {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #d9476a;
    padding: 16px 20px !important;
    text-decoration: none;
    line-height: 1;
    background: #d9476a;
    height: 50px;
    width: auto;
    border-radius: 0 !important;
}

.skillset span {
    float: right;
}

.skillset .bar-wrapper {
    background-color: #3b4259;
}

.skillset .bar-wrapper .bar {
    height: 10px;
    margin: 10px 0;
    background-color: #d9476a;
    width: 90%;
}

.skillset .bar-chart-wrapper {
    position: relative;
    margin-bottom: 35px;
}

.our-login{
    margin: 0 auto !important;

}

/* dashboard */

#dashboard textarea {
    width: 100%;
    height: auto;
}