{% extends "Master/Master.twig" %}

{% block content %}

	<section id="about-content" class="page-section">
		<div class="container">
			<h1>About</h1>
			<div class="row">

				<div class="col-xs-4 iniBoxAnim1">
					<h3>WEB DEVELOPMENT</h3>
					<p>We develop websites that work, and look great, across every platform - your desktops,
						tablets or smartphones. Our team of developers is highly qualified to provide solution
						to any of your software problems.</p>
				</div>
				<div class="col-xs-4 iniBoxAnim2">
					<h3>WEB, GRAPHIC AND 3D DESIGN</h3>
					<p>Creating new or redesigning already existing - our designers are here to fulfill your
						desires and provide stylish and innovative solutions for your website, or any other
						visual presentation.</p>
				</div>
				<div class="col-xs-4 iniBoxAnim3">
					<h3>MARKETING</h3>
					<p>The competitive edge of our marketing experts allow us to guarantee instant boost of your
						business results.</p>
				</div>
			</div>


			<h1>Team</h1>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim1"
							 style="background-image: url(Media/users/mihajlo.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Mihajlo Ljubenovic</h2>
								<p>Owner, Lead frontend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>

								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim2"
							 style="background-image: url(Media/users/laza.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Lazar Stanojlovic</h2>
								<p>Owner, Lead backend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim3"
							 style="background-image: url(Media/users/nino.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Nino Nikolic</h2>
								<p>Senior backend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim4"
							 style="background-image: url(Media/users/popo.JPG);">
						<figure>
							<figcaption class="overlay">
								<h2>Nikola Popovic</h2>
								<p>Project Manager</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim1"
							 style="background-image: url(Media/users/prle2.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Aleksandar Prlincevic</h2>
								<p>Bsckend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim2"
							 style="background-image: url(Media/users/bec.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Milan mitric</h2>
								<p>Backend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">
					<article class="crew-member scroll-fade iniBoxAnim3"
							 style="background-image: url(Media/users/stojken.jpg);">
						<figure>
							<figcaption class="overlay">
								<h2>Milos Stojkovic</h2>
								<p>Frontend developer</p>
								<div class="crew-socials">
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-facebook"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-twitter"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-linkedin"></i> </a>
									<a href="#" data-member="Mihajlo" class="btn btn-white social-links"><i
												class="fa fa-skype"></i></a>

								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 crew">

					<article class="crew-member scroll-fade iniBoxAnim4">

						<figure>
							<figcaption class="overlay apply">
								<h2>BECOME A MEMBER!</h2>
								<p>Contact us and tell us about your skills!</p>
								<div class="crew-socials">
									<a href="" class="btn secondary">Apply here</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
			</div>

			<h1>Skills</h1>
			<div class="row skillset">
				<div class="col-md-6 iniBoxAnim1">
					<div class="bar-chart-wrapper">
						<h5 class="bar-chart-text">LAMP Stack <span class="push-right">90%</span></h5>
						<div class="bar-wrapper">
							<div class="bar" data-percentage="90%">
								<span></span>
							</div>
						</div>
					</div>
					<div class="bar-chart-wrapper">
						<h5 class="bar-chart-text">HTML5/CSS3 <span class="push-right">95%</span></h5>
						<div class="bar-wrapper">
							<div class="bar" data-percentage="95%">
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 iniBoxAnim2">
					<div class="bar-chart-wrapper">
						<h5 class="bar-chart-text">NodeJS <span class="push-right">80%</span></h5>
						<div class="bar-wrapper">
							<div class="bar" data-percentage="80%">
								<span></span>
							</div>
						</div>
					</div>
					<div class="bar-chart-wrapper">
						<h5 class="bar-chart-text">Web/Graphic Design <span class="push-right">90%</span></h5>
						<div class="bar-wrapper">
							<div class="bar" data-percentage="90%">
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<section class="action-section">
		<div class="container text-center">
			<a href="#" class="btn btn-full-white iniBoxAnim1">More about us</a>
			<a href="#" class="btn btn-dark iniBoxAnim2">Contact Us!</a>
		</div>
	</section>

{% endblock %}