<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ubrium Galactic - Software Company</title>
		<meta name="description"
			  content="Description of Gynny homepage. We can add description for each page here, and that is good for SEO">
		<meta name="keywords" content="partner shops, project donation, etc"/>
		<meta name="author" content="Gynny GmbH and Ubrium Galactic LLC"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css section -->

		<link rel="stylesheet" href="Theme/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="Theme/fontawesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="Theme/font/flaticon.css"/>
		<link rel="stylesheet" href="Theme/css/style.css"/>
		<link rel="stylesheet" href="Theme/css/mojega.css"/>
		<link rel="stylesheet" href="Theme/css/responsive.css"/>
		<link rel="stylesheet" href="Theme/css/animations.css"/>


	</head>
	<body>

		<nav id="header" class="main-nav">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6">
						<a href="{{ Router.Create('landing') }}">
						<img src="Theme/media/theme/uglogonewblack.png" alt="Talason Studio logo" class="logo">
						</a>
					</div>
					<div class="col-xs-6 text-right">

						<ul class="menu">
							<li class="active"><a href="{{ Router.Create('landing') }}">Portfolio</a></li>
							<li><a href="{{ Router.Create('about') }}">About</a></li>
							<li><a href="{{ Router.Create('referrals') }}">Referrals</a></li>
						</ul>

						<a href="#" class="header-item" data-toggle="tooltip" data-placement="bottom"
						   title="Follow us on Facebook"><i class="flaticon-facebook-logo"></i></a>
						<a href="#" class="header-item" data-toggle="tooltip" data-placement="bottom"
						   title="Follow us on Twitter"><i class="flaticon-twitter-logo-silhouette"></i></a>
						<a href="#" class="header-item" data-toggle="tooltip" data-placement="bottom"
						   title="Follow us on Instagram"><i class="flaticon-instagram-logo"></i></a>
						<a href="#" class="header-item dark text">Hire Us!</a>
					</div>
				</div>
			</div>
		</nav>


		{% block content %}
		{% endblock %}
		<footer class="text-center">
			<div class="container">
				<img src="Theme/media/theme/uglogonewblackalt.png" alt="Ubrium One footer logo">
				<div class="row footer-content">
					<div class="col-md-6">
						<ul class="footer-menu text-left">
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Referrals</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="footer-menu text-right">
							<li><a href="#">©Ubrium Galactic LLC, 2016</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Javascript -->

		<script src="Theme/js/min/jquery.min.js"></script>
		<script src="Theme/bootstrap/js/bootstrap.min.js"></script>
		<script src="Theme/js/min/jquery.waypoints.min.js"></script>
		<script src="Theme/js/main.js"></script>
	</body>
</html>