.iniAnim1 {
    opacity: 0;
    transform: rotateY(150deg);
}

.iniAnim1.animate {
    transition: opacity 546.044ms cubic-bezier(0.7, 0.5, 0.3, 1), transform 1101.284ms cubic-bezier(0.7, 0.5, 0.3, 1);
    transform: rotateY(0deg);
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
    opacity: 1;
}

.iniAnim2,
.iniAnim2b {
    transform: scale3d(0.5,0.5,0.5);
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
}

.iniAnim2.animate,
.iniAnim2b.animate {
    transition: opacity 546.044ms cubic-bezier(0.7, 0.5, 0.3, 1), transform 1101.284ms cubic-bezier(0.7, 0.5, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.iniAnim3 {
    transform:rotateX(90deg);
    opacity: 0;
}

.iniAnim3.animate {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform:rotateX(0deg);
    opacity: 1;
}

.iniAnim4 {
    transform: scale3d(0.0,1,1);
    opacity: 0;
}

.iniAnim4.animate {
    transition: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.iniAnim5 {
    transform: scale3d(1,0.0,1);
    opacity: 0;
}

.iniAnim5.animate {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.iniBoxAnim1,
.iniBoxAnim2,
.iniBoxAnim3,
.iniBoxAnim4,
.iniBoxAnim5,
.iniBoxAnim6 {
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.iniBoxAnim1.animate,
.iniBoxAnim2.animate,
.iniBoxAnim3.animate,
.iniBoxAnim4.animate,
.iniBoxAnim5.animate,
.iniBoxAnim6.animate {
    transition: opacity 550ms cubic-bezier(0.7, 0.5, 0.3, 1);
    opacity: 1;
}

.iniBoxAnim2.animate {
    -webkit-transition-delay: 300ms; /* Safari */
    transition-delay: 300ms;
}

.iniBoxAnim3.animate {
    -webkit-transition-delay: 600ms; /* Safari */
    transition-delay: 600ms;
}

.iniBoxAnim4.animate {
    -webkit-transition-delay: 900ms; /* Safari */
    transition-delay: 900ms;
}

.iniBoxAnim5.animate {
    -webkit-transition-delay: 1200ms; /* Safari */
    transition-delay: 1200ms;
}

.iniBoxAnim6.animate {
    -webkit-transition-delay: 1500ms; /* Safari */
    transition-delay: 1500ms;
}

/* border animation */

.borderBottomRight {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(248,248,248,0.7);
}

.borderBottomRight.animate {
    height: 30%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-delay: 300ms; /* Safari */
    transition-delay: 300ms;
}

.borderRightBottom {
    width: 1px;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(248,248,248,0.7);
}

.borderRightBottom.animate {
    height: 30%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-delay: 300ms; /* Safari */
    transition-delay: 300ms;
}

/* cover logo animation */

.cover-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 103px;
    right: -40px;
    opacity: 0;
}

.cover-logo img {
    width: 100%;
}

.cover-logo.animate {
    opacity: 1;
    transform: rotate(0deg);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes visible {
    0% {
        opacity: 0;
        margin-bottom: 100px;
    }
    20% {
        opacity: 0.2;
        margin-bottom: 80px;
    }
    40% {
        opacity: 0.4;
        margin-bottom: 60px;
    }
    60% {
        opacity: 0.6;
        margin-bottom: 40px;
    }
    80% {
        opacity: 0.8;
        margin-bottom: 20px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0;
    }
}

@-webkit-keyframes second {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes lightBtnAnimation {
    0% {
        right: 100%;
        left: 0;
    }
    20% {
        right: 50%;
        left: 0;
    }
    40% {
        right: 0;
        left: 0;
    }
    60% {
        left: 0;
        right: 0;
    }
    80% {
        left: 50%;
        right: 0;
    }
    100% {
        left: 100%;
        right: 0;
    }
}