/* resume design */

.user-image {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.user-card {
    padding: 0;
    border: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.user-card h3 {
    font-weight: 900;
    margin: 10px 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.user-card p {
    margin: 5px 10px 10px;
    font-size: 16px;
}

.resume-panel {
    padding: 30px 50px;
    border: none;
    background: none;
    animation: visible;
    animation-duration: 650ms;
    animation-fill-mode: forwards;
    margin: 0 auto;
    width: 910px;
}

.resume-panel h3 {
    font-weight: 700;
    color: #444444;
    letter-spacing: -1px;
    margin: 0 0 10px;
}

.resume-panel p {
    font-size: 14px;
    margin: 0 0 10px;
    color: #666;
}

.resume-panel p a {
    color: #000;
    font-weight: 300;
}

.resume-panel p a i {
    font-size: 18px;
    color: #d9476a;
}

.resume-panel h2 {
    margin: 0 0 20px;
    font-weight: 300;
    color: #606060;
    letter-spacing: -2px;
}

.resume-panel h2:after {
    display: none;
}

.resume-panel h2 i {
    font-weight: 300;
    font-size: 35px;
}

.cv-head {
    margin-bottom: 0;
    background: #ffffff;
    /* border-bottom: 2px dashed #bebebe; */
    padding: 20px;
}

.cv-header h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 0 0;
    letter-spacing: -2px;
    text-transform: uppercase;
    line-height: 40px;
    /* font-family: 'Roboto', sans-serif; */
}

.cv-header h1:after {
    display: none;
}

.cv-header h1 span {
    color: #d9476a;
}

.label-skills {
    background: #d9476a;
    font-size: 14px;
    margin: 2px 0;
    display: inline-block;
    font-weight: 300;
    border-radius: 2rem;
    padding: 10px 15px;
}

.cv-header p {
    text-transform: lowercase;
    font-size: 25px;
    margin: 0;
    color: #b4b4b4;
    font-weight: 400;
}

.box-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
    border-bottom: 2px solid #d9476a;
}

p.box-caption {
    margin: 0px 0 0px;
}

.period {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1px;
    color: #444;
}

.second-animation {
    animation: visible;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    margin-top: 0;
}

.resume-panel p.lang {
    margin: 0;
    padding: 0;
}

@page {
    size: 21cm 29.7cm;
}

.progress {
    height: 5px;
    background: #555;
}

.progress-bar {
    background: #d9476a;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.sidebar {
    /* background: #f2f2f2; */
    padding: 15px;
}

.resume-box {
    margin: 15px 0 10px -15px;
    padding: 20px 40px;
    background: #fff;
}

.contact p {
    margin-bottom: -10px;
}

.contact strong {
    width: 60px;
    display: inline-block;
}