{% extends "Master/Master.twig" %}

{% block content %}

	<section id="dashboard" class="page-section">
		<div class="container">

			<div class="form-holder">
				<form class="form-horizontal" method="post" action="{{ Router.Create('create-project') }}" enctype="multipart/form-data">
					<div class="row" style="margin-bottom: 15px !important;">
						<div class="col-md-6 info-blog">

							<div class="form-group">
								<label for="title">Title</label>
								<input type="text" class="form-control" id="title" name="title"
									   placeholder="Enter Title" required>
							</div>

							<div class="form-group">
								<label for="description">Project Description</label>
									<textarea placeholder="Enter Project Text" name="description"
											  class="form-control"  >
									</textarea>

							</div>
							<div class="form-group">
								<label for="picture">Picture:</label>
								<input type="file" id="picture" name="picture">
							</div>
						</div>

					</div>

					<button type="submit" class="btn btn-default save-btn">Save</button>
				</form>
			</div>
		</div>

	</section>

{% endblock %}