{% extends "Master/Master.twig" %}

{% block content %}
<section id="form" class="page-section">
	<div class="container">

		<div class="row">
			<div class="col-md-6 content-left iniAnim2b">
				<h2>Launch your project today!</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<div class="col-md-6 content-right iniAnim2b">
				<h3>Register!</h3>
				<form class="onboard-form" method="post">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label class="hidden" for="name">Name</label>
								<input type="text" class="form-control" id="name" name="firstName" placeholder="Name" required>
								<label for="name-error" class="register-error-label">
									Bitte angeben
								</label>
							</div>
							<div class="form-group">
								<label class="hidden" for="email">Email address</label>
								<input type="email" class="form-control disable-space" id="email" name="email" placeholder="Email" required>
								<label for="email-error" class="register-error-label">
									Email is already used!
								</label>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="hidden" for="password">Passwort (mind. 8 Zeichen)</label>
								<input type="password" class="form-control" id="password" name="password"
									   placeholder="Password">
								<label for="length-error" class="register-error-label">
									Muss mindestens 8 Zeichen lang sein
								</label>
							</div>
							<div class="form-group">
								<label class="hidden" for="confirm-password">Confirm</label>
								<input type="password" name="confirmPassword" class="form-control" id="confirm-password"
									   placeholder="Confirm">
								<label for="confirm-password-error" class="register-error-label">
									Passwords are not same!
								</label>
							</div>
						</div>
					</div>
					<div class="row"></div>

					<p class="text-right">
						<button type="submit" class="btn btn-light" id="save-user-password">Register</button>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}