    /*
    Flaticon icon font: Flaticon
    Creation date: 07/11/2016 13:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alarm-clock:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-facebook-logo:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-id-card:before { content: "\f104"; }
.flaticon-instagram-logo:before { content: "\f105"; }
.flaticon-letter:before { content: "\f106"; }
.flaticon-portfolio:before { content: "\f107"; }
.flaticon-price-tag:before { content: "\f108"; }
.flaticon-suitcase:before { content: "\f109"; }
.flaticon-twitter-logo-silhouette:before { content: "\f10a"; }
.flaticon-work-station:before { content: "\f10b"; }
    
    $font-Flaticon-alarm-clock: "\f100";
    $font-Flaticon-calendar: "\f101";
    $font-Flaticon-facebook-logo: "\f102";
    $font-Flaticon-group: "\f103";
    $font-Flaticon-id-card: "\f104";
    $font-Flaticon-instagram-logo: "\f105";
    $font-Flaticon-letter: "\f106";
    $font-Flaticon-portfolio: "\f107";
    $font-Flaticon-price-tag: "\f108";
    $font-Flaticon-suitcase: "\f109";
    $font-Flaticon-twitter-logo-silhouette: "\f10a";
    $font-Flaticon-work-station: "\f10b";