{% extends "Master/Master.twig" %}

{% block content %}
	<header class="main-header" style="background-image: url(Media/theme/34.jpg)">
		<video autoplay loop id="bgvid">
			<source src="Theme/media/theme/video/stars/stars.webm" type="video/mov">
			<source src="Theme/media/theme/video/stars/stars.mp4" type="video/mp4">
		</video>
		<div class="cover">
			<div class="container">
				<div class="row">

					<div class="col-md-6 content-left">
						<h1 class="iniBoxAnim1">We are Ubrium Galactic!</h1>
						<p class="iniBoxAnim2">
							Ubrium Galactic is creative international <span>web development company</span>, based in USA
							and
							Europe. We develop high quality web
							software and are skilled in technologies like <span>PHP, NodeJS,
                    C#, MySQL, MongoDB, HTML5, CSS3, Angular</span>. We also provide Web, Graphic and 3D design
							services.
						</p>

						<div class="borderBottomRight"></div>
						<div class="borderRightBottom"></div>

						<div class="cover-logo"><img src="media/theme/logonobg.png" alt="Cover logo"></div>
					</div>

					<div class="col-md-6 content-right iniBoxAnim2">
						<div class="row numbers text-left">
							<div class="col-xs-6 iniBoxAnim3">
								<div class="media">
									<div class="media-left">
										<i class="flaticon-spider"></i>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Software</h4>
										<p>web & app</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 iniBoxAnim4">
								<div class="media">
									<div class="media-left">
										<i class="flaticon-web"></i>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Design</h4>
										<p>web, graphic & 3d</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row numbers text-left">
							<div class="col-xs-6 iniBoxAnim5">
								<div class="media">
									<div class="media-left">
										<i class="flaticon-hourglass"></i>
									</div>
									<div class="media-body">
										<h4 class="media-heading count">5</h4>
										<p>years of experience</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 iniBoxAnim6">
								<div class="media">
									<div class="media-left">
										<i class="flaticon-portfolio"></i>
									</div>
									<div class="media-body">
										<h4 class="media-heading count">36</h4>
										<p>projects completed</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="page-section landing-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>our.work</h1>
				</div>
			</div>


			<div class="row">
				{% if model.Projects is not empty %}
					{% for project in model.Projects %}
						<article class="col-md-4">
							<div href="#" class="box iniBoxAnim1">
								<div class="image">
									<img src="{{ project.PicturePath() }}">
									 </div>
								<div class="cover">
									<div class="box-content">
										<span class="label label-category">#Web Design</span>
										<span class="label label-category">#Freebie</span>
										<h3>{{ project.Name }}</h3>
										<p>
											{{ project.Description }}
										</p>

										<a href="#" class="btn btn-white">Demo</a>
										<a href="#" class="btn btn-white">Download</a>
									</div>
								</div>
							</div>
						</article>
					{% endfor %}
				{% endif %}

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim2">
						<div class="image"
							 style="background-image: url(Media/portfolio/dokoo/pro.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#Web Design</span>
								<h3>Dokoo.io</h3>
								<p>
									Free to use, portfolio/cv creator app
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim3">
						<div class="image"
							 style="background-image: url(Media/portfolio/talason/talason.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web Design</span>
								<h3>Talason Studio</h3>
								<p>
									Portfolio page for an architecture studio
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim1">
						<div class="image"
							 style="background-image: url(Media/portfolio/websajam/websajam.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#CMS</span>
								<h3>WebSajam.com</h3>
								<p>
									Virtual fair website
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim2">
						<div class="image"
							 style="background-image: url(Media/portfolio/gynny/bg1.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web Design</span>
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#API integration</span>
								<span class="label label-category">#CMS</span>
								<h3>Gynny.de</h3>
								<p>
									Shopping + crowd funding platform
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim3">
						<div class="image"
							 style="background-image: url(Media/portfolio/perennial/mitte_michel.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Dev branch</span>
								<h3>Perennial AG</h3>
								<p>
									Worked as development branch for Perennial AG from Hamburg, Germany on travel
									industry
									related products
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>
			</div>
		</div>
	</section>

	<section class="action-section">
		<div class="container text-center">
			<a href="#" class="btn btn-full-white iniBoxAnim1">More about us</a>
			<a href="#" class="btn btn-dark iniBoxAnim2">Contact Us!</a>
		</div>
	</section>
	</header>
{% endblock %}