{% extends "Master/Master.twig" %}
{% block content %}
	<section class="page-section">
		<div class="container">

			<div id="content" class="panel panel-default resume-panel">
				<div class="panel-body">
					<div class="row cv-head">

						<div class="col-md-8 cv-header">
							<h1>Joanna <br><span>Doe</span></h1>
							<p>Web developer</p>
						</div>

						<div class="col-md-4 contact">
							<div class="user-image" style="background-image: url(media/portfolio/dokoo/pro.jpg)"></div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-8" style="">

							<div class="resume-box contact">
								<div class="row">
									<div class="col-xs-6">
										<p><strong>Email:</strong> mymail@email.com</p>
										<p><strong>Website:</strong> www.ubrium.com</p>
										<p><strong>Phone:</strong> +(381)692300899</p>
									</div>
									<div class="col-xs-6">
										<p>Decanska 15</p>
										<p>Nis, 18000</p>
										<p>Serbia</p>
									</div>
								</div>
							</div>

							<div class="resume-box">
								<h2><i class="flaticon-suitcase"></i> Experience</h2>
								<div class="row">
									<div class="col-md-8">
										<div class="box-title">Ubrium Galactic LLC</div>
										<p class="box-caption">
											Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus
											risus.
										</p>
									</div>
									<div class="col-md-4 text-right period">2014 -</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="box-title">Sample One</div>
										<p class="box-caption">
											Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus
											risus.
										</p>
									</div>
									<div class="col-md-4 text-right period">2012 - 2014</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="box-title">Ubrium Galactic LLC</div>
										<p class="box-caption">
											Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus
											risus.
										</p>
									</div>
									<div class="col-md-4 text-right period">2011 - 2012</div>
								</div>
							</div>

							<div class="resume-box">
								<h2><i class="flaticon-mortarboard"></i> Education</h2>

								<div class="row">
									<div class="col-md-8">
										<div class="box-title">Economy and Marketing</div>
										<p class="box-caption">Harvard University, USA</p>
									</div>
									<div class="col-md-4 text-right period">2011 - 2012</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="box-title">Web Development</div>
										<p class="box-caption">IT Academy, Serbia</p>
									</div>
									<div class="col-md-4 text-right period">2011 - 2012</div>
								</div>
							</div>

							<div class="resume-box">
								<h2><i class="flaticon-design-skills"></i> Skills</h2>

								<span class="label label-skills">Music</span>
								<span class="label label-skills">Sci-Fi</span>
								<span class="label label-skills">Playing footbal</span>
								<span class="label label-skills">Nesto</span>
								<span class="label label-skills">Nesto drugo</span>
								<span class="label label-skills">Default</span>
							</div>

						</div>

						<div class="col-md-4 sidebar">
							<h2><i class="flaticon-user"></i> About Me</h2>
							<p>
								Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla auctor
								libero vitae erat posuere, sit amet viverra turpis lobortis.
							</p>

							<h2><i class="flaticon-language"></i> Languages</h2>
							<p class="lang"><strong>Serbian</strong></p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
									 aria-valuemax="100" style="width: 100%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<p class="lang"><strong>English</strong></p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									 aria-valuemax="100" style="width: 80%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<p class="lang"><strong>German</strong></p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									 aria-valuemax="100" style="width: 40%;">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>

							<h2><i class="flaticon-activities"></i> Interests</h2>
							<span class="label label-skills">Music</span>
							<span class="label label-skills">Sci-Fi</span>
							<span class="label label-skills">Playing footbal</span>
							<span class="label label-skills">Nesto</span>
							<span class="label label-skills">Nesto drugo</span>
							<span class="label label-skills">Default</span>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}